---
import Article from '../../components/Article.astro';
import SalesforceIcon, {
  IconSize,
  IconType,
} from '../../components/SalesforceIcon.astro';
import { getCollection } from 'astro:content';
import BaseLayout from '../../layouts/BaseLayout.astro';
import Tile from '../../components/Tile.astro';

const posts = (await getCollection('blog')).sort(
  (a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);

const TITLE = 'Blog';
const DESCRIPTION = 'All posts';
---

<BaseLayout title={TITLE} description={DESCRIPTION}>
  <Article title="Posts">
    <span
      slot="icon"
      class="slds-icon_container slds-icon-standard-news"
      title="posts"
    >
      <SalesforceIcon
        icon="news"
        type={IconType.STANDARD}
        size={IconSize.SMALL}
      />
    </span>
    <div slot="body">
      <ul class="slds-grid slds-wrap">
        {
          posts.map((post) => (
            <li class="slds-col slds-size_1-of-1 slds-large-size_6-of-12 slds-p-around_xx-small">
              <div class="slds-box">
                <a href={`/blog/${post.slug}/`} class="slds-text-link_reset">
                  <img
                    src={post.data.heroImage}
                    class="heroImage"
                    alt={post.slug}
                  />

                  <hr />

                  <Tile
                    title={post.data.title}
                    pubDate={post.data.pubDate}
                    tags={post.data.tags}
                  />
                </a>
              </div>
            </li>
          ))
        }
      </ul>
    </div>
  </Article>
</BaseLayout>
