---
import Article from '../../components/Article.astro';
import SalesforceIcon, {
  IconSize,
  IconType,
} from '../../components/SalesforceIcon.astro';
import { getCollection } from 'astro:content';
import BaseLayout from '../../layouts/BaseLayout.astro';
import Tile from '../../components/Tile.astro';
import SearchBar from '../../components/SearchBar.vue';

const posts = (await getCollection('blog')).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);

const TITLE = 'Blog';
const DESCRIPTION = 'All posts';
---

<BaseLayout title={TITLE} description={DESCRIPTION}>
  <Article title="Posts">
    <span
      slot="icon"
      class="slds-icon_container slds-icon-standard-news"
      title="posts"
    >
      <SalesforceIcon
        icon="news"
        type={IconType.STANDARD}
        size={IconSize.SMALL}
      />
    </span>
    <div slot="body">
      <ul class="slds-grid slds-wrap">
        {
          posts.map((post, index) => (
            <li
              class:list={[
                'slds-col slds-size_1-of-1 slds-large-size_6-of-12 slds-p-bottom_x-small',
                { 'slds-p-right_xx-small': index % 2 === 0 },
                { 'slds-p-left_xx-small': index % 2 !== 0 },
              ]}
            >
              <div class="slds-box">
                <a href={`/blog/${post.slug}/`} class="slds-text-link_reset">
                  <img
                    src={post.data.heroImage}
                    class="heroImage"
                    alt={post.slug}
                  />

                  <hr />

                  <Tile
                    title={post.data.title}
                    pubDate={post.data.pubDate}
                    tags={post.data.tags}
                  />
                </a>
              </div>
            </li>
          ))
        }
      </ul>
    </div>
  </Article>
</BaseLayout>

<style>
  .slds-box {
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
  }

  .slds-box:hover {
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
    transition-delay: 0.2s;
  }
</style>
