---
import SearchBar from '@components/common/SearchBar.vue';
import HeaderLink from '@components/layout/header/HeaderLink.astro';
import { DeviceType } from '@/types';
import { getAllPosts } from '@/utils/posts';

const posts = await getAllPosts();
---

<header class="header">
  <div class="slds-context-bar nav-bar">
    <nav
      class="slds-context-bar__primary slds-align_absolute-center"
      role="navigation"
    >
      <a href="/">
        <div class="slds-global-header__logo">
          <span class="slds-assistive-text">Salesforce</span>
        </div>
      </a>
    </nav>
    <nav class="slds-context-bar__secondary slds-show_medium" role="navigation">
      <ul class="slds-grid">
        <HeaderLink href="/" title="Home" icon="home" />
        <HeaderLink href="/blog" title="Blog" icon="share_post" />
        <HeaderLink href="/about" title="About" icon="user" />
      </ul>
    </nav>
    <nav
      class="slds-context-bar__secondary slds-show_medium slds-align_absolute-center"
      role="navigation"
    >
      <SearchBar
        client:load
        deviceType={DeviceType.DESKTOP}
        dropdownEnabled={true}
        posts={posts}
      />
    </nav>
    <nav
      class="slds-context-bar__secondary slds-hide_medium slds-align_absolute-center"
      role="navigation"
    >
      <SearchBar
        client:load
        deviceType={DeviceType.MOBILE}
        dropdownEnabled={true}
        posts={posts}
      />
    </nav>
    <nav
      class="slds-context-bar__secondary slds-hide_medium slds-grid_align-end"
      role="navigation"
      transition:persist
    >
      <div
        class="slds-context-bar__item slds-context-bar__dropdown-trigger slds-dropdown-trigger slds-dropdown-trigger_click slds-no-hover"
      >
        <div class="slds-context-bar__icon-action">
          <button
            data-mobile-trigger-menu-bar
            class="slds-button slds-icon-waffle_container slds-context-bar__button"
            title="Menu bar"
          >
            <span class="slds-icon-waffle">
              <span class="slds-r1"></span>
              <span class="slds-r2"></span>
              <span class="slds-r3"></span>
              <span class="slds-r4"></span>
              <span class="slds-r5"></span>
              <span class="slds-r6"></span>
              <span class="slds-r7"></span>
              <span class="slds-r8"></span>
              <span class="slds-r9"></span>
            </span>
            <span class="slds-assistive-text">Open mobile menu</span>
          </button>
        </div>
      </div>
    </nav>
  </div>
  <div
    data-mobile-menu-bar
    class="slds-tabs-mobile__container slds-hide slds-hide_medium"
  >
    <ul class="slds-tabs-mobile">
      <HeaderLink href="/" title="Home" icon="home" mobile={true} />
      <HeaderLink href="/blog" title="Blog" icon="share_post" mobile={true} />
      <HeaderLink href="/about" title="About" icon="user" mobile={true} />
    </ul>
  </div>
</header>

<script>
  document
    .querySelector('[data-mobile-trigger-menu-bar]')
    ?.addEventListener('click', () => toggleMobileNavBar());

  document.addEventListener('astro:after-swap', () => resetMobileNavBar());

  const toggleMobileNavBar = () => {
    const menuBar = document.querySelector('[data-mobile-menu-bar]');
    menuBar?.classList.toggle('slds-hide');
    menuBar?.classList.toggle('slds-show');
  };

  const resetMobileNavBar = () => {
    const menuBar = document.querySelector('[data-mobile-menu-bar]');
    menuBar?.classList.replace('slds-show', 'slds-hide');
  };
</script>

<style>
  .nav-bar {
    height: 3.5rem;
    padding: 0 5%;
  }

  .slds-global-header__logo {
    width: 7.5rem;
  }

  .slds-tabs-mobile__container {
    outline: 2px solid #1b96ff;
  }
</style>
