---
import HeaderLink from './HeaderLink.astro';
import SearchBar from './SearchBar.vue';
import SalesforceIcon, {IconType, IconSize} from './SalesforceIcon.astro';
---

<style>
  .navBar {
    height: 3.5rem;
    padding: 0 5%;
  }
</style>

<header>
  <div class="slds-context-bar navBar">
    <nav
      class="slds-context-bar__primary slds-align_absolute-center"
      role="navigation"
    >
      <a href="/">
        <div class="slds-global-header__logo" transition:animate="slide">
          <span class="slds-assistive-text">Salesforce</span>
        </div>
      </a>
    </nav>
    <nav class="slds-context-bar__secondary" role="navigation">
      <ul class="slds-grid">
        <HeaderLink href="/" title="Home" icon="home" />
        <HeaderLink href="/blog" title="Blog" icon="share_post" />
        <HeaderLink href="/about" title="About" icon="user" />
      </ul>
    </nav>
    <nav
      class="slds-context-bar__secondary slds-align_absolute-center"
      role="navigation"
    >
      <SearchBar client:load>
        <div slot="search">
          <SalesforceIcon
          icon="search"
          type={IconType.UTILITY}
          size={IconSize.X_SMALL}
          colored={true} />
        </div>

        <div slot="post">
            <SalesforceIcon
            icon="post"
            type={IconType.STANDARD}
            size={IconSize.X_SMALL} />
        </div>
      </SearchBar>
    </nav>
  </div>
</header>
