---
import FormattedDate from './FormattedDate.vue';
interface Props {
  title?: string;
  description?: string;
  pubDate: Date;
  updatedDate?: Date;
  tags: string[];
}

const { title, description, pubDate, updatedDate, tags } = Astro.props;
---

<div class="slds-tile">
  {
    title && (
      <h3
        class="slds-tile__title slds-text-heading_medium slds-m-bottom_x-small slds-truncate"
        title={title}
      >
        {title}
      </h3>
    )
  }
  {
    description && (
      <h4
        class="slds-tile__title slds-text-title slds-m-bottom_medium slds-truncate"
        title={description}
      >
        {description}
      </h4>
    )
  }
  <div class="slds-tile__detail">
    <dl class="slds-list_horizontal slds-grid_vertical-align-center slds-wrap">
      {
        pubDate && (
          <>
            <dt
              class="slds-item_label slds-text-color_weak slds-truncate"
              title="Created"
            >
              Created:
            </dt>
            <dd class="slds-item_detail slds-truncate" title="Created at">
              <span class="date">
                <FormattedDate date={pubDate} />
              </span>
            </dd>
          </>
        )
      }
      {
        updatedDate && (
          <>
            <dt
              class="slds-item_label slds-text-color_weak slds-truncate"
              title="Updated"
            >
              Updated:
            </dt>
            <dd class="slds-item_detail slds-truncate" title="Updated at">
              <span class=" date">
                <FormattedDate date={updatedDate} />
              </span>
            </dd>
          </>
        )
      }
      {
        tags && (
          <>
            <dt
              class="slds-item_label slds-text-color_weak slds-truncate"
              title="Tags"
            >
              Tags:
            </dt>
            <dd class="slds-item_detail slds-truncate" title="Tags">
              <span class="slds-listbox__option-text slds-listbox__option-text_entity">
                {tags.map((tag) => (
                  <span class="slds-badge">#{tag}</span>
                ))}
              </span>
            </dd>
          </>
        )
      }
    </dl>
  </div>
</div>

<style>
  dt,
  dd {
    font-size: 0.75rem;
  }

  .slds-badge {
    padding: 0.1rem 0.4rem;
  }
</style>
