---
import type { CollectionEntry } from 'astro:content';
import ContentArticle from '../components/ContentArticle.astro';
import SalesforceIcon, {
  IconSize,
  IconType,
} from '../components/SalesforceIcon.astro';
import Tile from '../components/PostTile.vue';
import BaseLayout from './BaseLayout.astro';

type Props = CollectionEntry<'blog'>['data'];

const { title, description, pubDate, updatedDate, heroImage, tags } =
  Astro.props;
---

<BaseLayout title={title} description={description}>
  <ContentArticle
    title={title}
    description={description}
    commentsEnabled={true}
  >
    <span
      slot="icon"
      class="slds-icon_container slds-icon-standard-post"
      title="home"
    >
      <SalesforceIcon
        icon="post"
        type={IconType.STANDARD}
        size={IconSize.SMALL}
      />
    </span>
    <section slot="body">
      {
        heroImage && (
          <a href={heroImage} target="_blank">
            <img
              class="slds-align_absolute-center slds-m-bottom_large heroImage"
              src={heroImage}
              alt="Blog image"
              width="100%"
              height="100%"
            />
          </a>
        )
      }
      <Tile pubDate={pubDate} updatedDate={updatedDate} tags={tags} />
      <hr />
      <slot />
    </section>
  </ContentArticle>
</BaseLayout>

<style>
  img.heroImage {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.1);
    transition:
      box-shadow 0.3s ease,
      transform 0.3s ease,
      border 0.3s ease;
  }

  img.heroImage:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    transform: translateY(-4px);
    border: 1px solid rgba(0, 0, 0, 0.2);
    transition-delay: 0.1s;
  }
</style>
